<div class="user-details">
  <h1>프로젝트 개요</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>객체화 및 모듈화</h2>
    <img src="../assets/oop.png" width="500px" alt="OOP">
    <p>I feel comfortable working on the front-end, going from pure CSS & HTML5 to Sass, Bootstrap or AngularJS/2+, VueJS and whatever!</p>
  </div>
  <div class="tech">
    <h2>보스 만들기</h2>
    <img src="../assets/boss.png" width="400px" alt="Boss">
    <p>My main development languages are Java and JavaScript, but I have worked with Go, Python, PHP and more..</p>
  </div>
  <div class="tech">
    <h2>운석 떨어뜨리기 및 바람넣기</h2>
    <img src="../assets/methor.png" width="400px"alt="Methor">
    <p>Git, Gulp, Grunt, NPM, Linux, Docker, you name it, I have used a bajillion tools!</p>
  </div>
</div>
