<div class="user-details">
  <h1>프로젝트 개요</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>객체화 및 모듈화</h2>
    <img src="../assets/oop.png" width="500px" alt="OOP">
    <p> 처음 fork해 온 단일 파일 코드를 Class들을 담는 Entity, 게임의 동작 부분을 담는 Game, 게임을 실행하는 코드가 들어있는 Play의 세 파일로 나누어 객체화 및 모듈화 시켰습니다.  </p>
  </div>
  <div class="tech">
    <h2>보스 만들기</h2>
    <img src="../assets/boss.png" width="400px" alt="Boss">
    <p>게임에 더 다양한 기능을 추가하기 위하여 보스를 만들고 보스레벨*20 만큼 player의 총알을 맞아야 죽도록 설정하였습니다. </p>
  </div>
  <div class="tech">
    <h2>운석 떨어뜨리기 및 바람넣기</h2>
    <img src="../assets/methor.png" width="400px"alt="Methor">
    <p>게임의 흥미를 위하여 운석을 떨어뜨린 뒤 운석을 맞으면 player가 죽도록 설정하였으며 게임 중간 중간에 바람을 넣어 player가 바람에 밀려나도록 설정하였습니다. </p>
  </div>
</div>
